<?xml version="1.0" encoding="utf-8"?>
<manifest
	  xmlns:android="http://schemas.android.com/apk/res/android"
	  android:versionName="@string/app_version" package="com.biophysics.radioplayer" android:versionCode="2">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="8"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE">
	
	</uses-permission>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:debuggable="false">




		<activity
			android:label="@string/app_name"
			android:launchMode="singleTask"
		android:name="com.biophysics.radioplayer.AACPlayerActivity">
		            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		
		        </activity>
		<receiver android:name="com.biophysics.radioplayer.OutgoingCallReceiver" android:exported="true" android:permission="android.permission.READ_PHONE_STATE">
			<intent-filter>
				<action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
			</intent-filter>
		</receiver>
		
		




				
		
	</application>
</manifest> 
